.block{
    white-space: nowrap;
    align-items: center;
    margin-top: 10px;
    /* margin-right: 5vw; */
    flex-direction: row;
}

.closedInput{
    font-size: 24px;
    display: inline-block;
    color: black;
    margin-right: 5px;
    border-radius: 10px;
    border: transparent;
    background-color: rgb(182, 182, 182);
    width: 435px;
    height: 38px;
    padding: 5px;
    padding-left: 15px;
}

.openInput{
    font-size: 24px;
    display: inline-block;
    margin-right: 5px;
    color: black;
    border-radius: 10px;
    border: transparent;
    background-color: #d9d9d9;
    width: 435px;
    height: 38px;
    padding: 5px;
    padding-left: 15px;
}

.checkbox{
    display: inline-block;
    width: 25px;
    height: 22px;
    margin-left: 20px;
    margin-right: 5px;
}

.hidden {
    height: 0;
    font-size: 18px;
    visibility: hidden;
}

.questionMark{
    border-radius: 20px;
    display: inline-block;
    border: transparent;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: #cecece;
    transition: background-color 0.3s, color 0.3s;
}

.questionMark:hover{
    background-color: #dbdbdb;
}

.questionMark:active{
    background-color: #bebebe;
}

